{% if message.sender == request.user %}
    <li class="d-flex justify-content-end">
        <div class="bg-primary text-white rounded-3 p-2 mb-1 mw-70-perc text-end">
            {{ message.body }}
            <br>
            <small>{{ message.timestamp|date:"H:i" }}</small>
        </div>
    </li>
{% else %}
    <li class="d-flex justify-content-start">
        <div class="bg-light border rounded-3 p-2 mb-1 mw-70-perc text-start">
            {{ message.body }}
            <br>
            <small>{{ message.timestamp|date:"H:i" }}</small>
        </div>
    </li>
{% endif %}
