<!DOCTYPE html>
<html class="h-100" lang="en">
    {% load static %}
    <head>
        <title>Jobylon Chat</title>
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'htmx.min.js' %}"></script>
        <script src="{% static 'bootstrap.min.js' %}"></script>
    </head>
    <body class="h-100">
        {% include "header.html" %}
        {% block content %}{% endblock %}
    </body>
</html>
